@media (min-width: 685px) {
  .hero {
    background-image: url("../images/desktop/image-header.jpg") !important;
    padding-top: 15rem !important;
  }

  .top-bar {
    align-items: center;
    justify-content: space-between;
  }

  .menu-button {
    display: none;
  }

  .menu-links {
    opacity: 1 !important;
    transform: none !important;
    flex-direction: row !important;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    background: transparent !important;
    position: static !important;
    width: auto !important;
  }
  .menu-links li a:nth-of-type(1),
.menu-links li a:nth-of-type(2),
.menu-links li a:nth-of-type(3) {
    color: white;
  }
  .menu-links li:last-of-type {
    background: white !important;
  }
  .menu-links li:last-of-type a {
    color: black;
  }

  .menu-links::before {
    display: none;
  }

  .benefits {
    flex-direction: column !important;
  }
  .benefits .content {
    margin: 0 !important;
  }
  .benefits article {
    justify-content: space-between !important;
    flex-direction: row !important;
  }
  .benefits article .content {
    flex: 1 !important;
  }
  .benefits article img {
    flex: 1;
  }
  .benefits article:first-of-type {
    direction: rtl;
  }

  .services {
    display: flex !important;
    flex-direction: row !important;
  }
  .services .content {
    bottom: 10px !important;
  }

  .testimonials-section {
    padding: 8rem 2rem !important;
  }
  .testimonials-section .title {
    letter-spacing: 2px;
  }
  .testimonials-section .testimonies {
    display: flex !important;
    flex-direction: row !important;
  }

  .gallery {
    display: flex;
  }

  .img-mobile {
    display: none !important;
  }

  .img-desktop {
    display: block !important;
  }
}
@media (min-width: 800px) {
  .services .content {
    bottom: 4rem !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Cooper", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.paragraph {
  font-size: 18px;
}

.img-desktop {
  display: none;
}

.hero {
  height: 100%;
  width: 100%;
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 10rem;
  text-align: center;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10vh;
}
.hero .title {
  margin: 0 2rem;
}

.top-bar {
  position: relative;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.menu-links {
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "Spartan";
  font-weight: 700;
  position: absolute;
  z-index: 0;
  right: -5rem;
  top: -5rem;
  display: flex;
  transform: scale(0);
  opacity: 0;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
  background: white;
  padding: 2rem;
  list-style: none;
  width: 85%;
}
.menu-links a {
  color: black;
  text-decoration: none;
}
.menu-links li:last-of-type {
  font-family: "Cooper";
  padding: 1rem 2rem;
  background: #fad400;
  border-radius: 3rem;
  font-weight: 900;
}

.menu-links::before {
  content: "";
  position: absolute;
  border: solid 10px transparent;
  border-right-color: white;
  border-bottom-color: white;
  top: -15px;
  right: 0;
  width: 2px;
  height: 2px;
}

.benefits {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.benefits article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.benefits article .title {
  color: #23303e;
}
.benefits article .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
  margin: 1rem;
}
.benefits article .content .paragraph {
  color: #5a636c;
  font-family: "Spartan";
  max-width: 300px;
}
.benefits article .content .learn-more {
  font-family: "Cooper";
  text-transform: uppercase;
  margin-top: 2rem;
  position: relative;
}
.benefits article .content .learn-more::before {
  z-index: -1;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  background: #fe7867;
  width: 115px;
  height: 10px;
}

.services article {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.services article img:last-of-type {
  display: none;
}
.services article .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  color: #25564b;
}
.services article .content .title {
  font-size: x-large;
}
.services article .content .paragraph {
  padding: 1rem;
  font-family: "Spartan";
}

.testimonials-section {
  padding: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: 100%;
}
.testimonials-section .title {
  color: #a7abae;
  text-transform: uppercase;
}
.testimonials-section article {
  padding: 0 1rem;
}
.testimonials-section article img {
  border-radius: 50%;
  padding: 1rem 0;
}
.testimonials-section article .testimony {
  font-family: "Spartan";
  color: #a7abae;
}
.testimonials-section article .about-client {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.testimonials-section article .about-client .name {
  font-size: 18px;
}
.testimonials-section article .about-client .role {
  color: #a7abae;
  font-family: "Spartan";
  font-size: small;
  font-weight: 700;
}

.gallery .top,
.gallery .bottom {
  display: flex;
}

footer {
  text-align: center;
  padding: 2rem 2rem;
  background: #458c7e;
  font-family: "Spartan";
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}
footer .footer-logo path {
  fill: #25564b;
}
footer .links {
  display: flex;
  display: inline-flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
footer a {
  color: #25564b;
  text-decoration: none;
}
footer .socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.menu-links.toggle {
  transform: scale(1);
  top: 6rem;
  right: 2rem;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */