@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;800;900&family=Lexend+Deca&display=swap");

// Primary Colors
$primary-sedans: hsl(31, 77%, 52%);
$primary-suvs: hsl(184, 100%, 22%);
$primary-luxury: hsl(179, 100%, 13%);

// Nuetral Colors
$nuetral-transparent: hsla(0, 0%, 100%, 0.75);
$nuetral-light: hsl(0, 0%, 95%);

$text-size: 15px;

// media query 
@media (min-width: 800px) {
    main {
        display: flex !important;
        max-width: 1300px !important;
        .btn:hover {
            cursor: pointer;
            background: transparent;
            color: $nuetral-transparent;
            border-color: $nuetral-light;
        }
        article h3 {
            font-size: 34px !important;
        }

        article p{
            font-size: 18px !important;
        }
    }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: grid;
  place-items: center;
}

main {
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem 0;
  max-width: 500px;
  
  article {
    max-width: 300px;
    padding: 3rem;

    .btn {
        transition: 0.2s cubic-bezier(0.23, 1, 0.320, 1);
      font-family: "Lexend Deca", sans-serif;
      padding: 1rem 2rem;
      border-radius: 1.5rem;
      background: $nuetral-light;
      display: inline-block;
      margin: 2rem 0;
      border: solid 2px transparent;
    }

    h3 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 29px;
      color: $nuetral-light;
      text-transform: uppercase;
      margin: 1.5rem 0;
    }
    
    p {
      font-size: $text-size;
      font-family: "Lexend Deca", sans-serif;
      color: $nuetral-transparent;
    }
  }
}
.sedans {
  background: $primary-sedans;
  .btn {
    color: $primary-sedans;
  }
}

.suvs {
  background: $primary-suvs;
  .btn {
    color: $primary-suvs;
  }
}

.luxury {
  background: $primary-luxury;
  .btn {
    color: $primary-luxury;
  }
}

.attribution {
    font-family: "Lexend Deca", sans-serif;
    a:nth-of-type(1) {
        color: $primary-sedans;
    }
    a:nth-of-type(2) {
        color: $primary-luxury;
    }
}